@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Other CSS* */

html {
  font-size: 62.5%;
}

section {
  box-sizing: border-box;
  width: 100%;
  height: 368px;
  background: #3662B8;
  color: #85A9F1;
  padding: 1.5em;
  border-radius: 1.2em;
  font-family: 'Inter', sans-serif;
  display: flex;
  margin: 25px 0;
}

.top {
  width: 100%;
}

button.select-customers, .search-box {
  border-radius: 0.4em;
}

/* Search box */

.search-box {
  padding: 1.6em 1.7em;
  background: #517FD9;
}

.search-box svg {
  display: inline;
}

input{
  border: 0px;
  width: 85%;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  background: #9fbbea;
  color: #fff;
}

.btn{
  background: none;
  border: 0;
  cursor: pointer;
}

/* Waiting text */

.waiting {
  text-align: center;
  padding: 4.5em 0;
  font-size: 1.5em;
}

/* Button */

button.select-customers {
  border: 0;
  width: 100%;
  background: #14274B;
  color: #9FB8EA;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1.7rem;
}
