
/* section{
    flex-wrap: wrap;
} */
  
  
html {
    font-size: 62.5%;
}
  
section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 50px 0;
    width: 500px;
    height: 69px;
    background: #e72020; 
    border-radius: 1.2em;
    padding: 3em 5em 3em 6em;
    position: fixed;
    left: 50;
}
  
.icon-wrapper {
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.icon-wrapper svg {
    display: block;
}