html {
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Items{
    background: linear-gradient(to right, #ffffffc7, #feb094);
    display: flex;
    padding: 7.8em;
    gap: 3.4em;
}

