html{
    font-size: 62.5%;
    margin: 3em;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #CBE1F1;
}

img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 50%;
}

.container{
    background-color: #fff;
    display: flex;
    border-radius: 20em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.left{
    display: flex;
    gap: 2em;
}

.left p{
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 0 1em;
}

.Active{
    width: 2em;
    height: 2em;
    background-color: #5DBC3C;
    border-radius: 50%;
    margin-right: 3em;
}